@media(min-width: 800px){
    body{
        background: whitesmoke;
        font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Header Section CSS*/
.container{
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: #0077C5;
    font-size: 13px;
    
}

p{
    margin: 0 0 0 0;
    font-size: 13px;
    line-height: 1;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header-2{
    display: flex;
    justify-content: flex-end;
}

.navbar-text {
    align-self: center;
    text-align: right;
    margin-top: 10px;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-self: center;
}

.signin-btn {
    background-color: #0077C5;
    border-radius: 4px;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-left: 10px;
    color: white;
    margin-right: 20px;
    border: 0;
}

/*End of Header Section CSS*/



/*Main Section CSS*/
.logos{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

 .main-section {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .signup-form{
    display: flex;
    line-height: 35px;
    padding: 30px 30px 30px 30px;
    background-color: white;
    border: 1px solid #c1c5c8;
    width: 318px;
    height: auto;
    border-bottom: 0;
    border-radius: 4px;
}

 .submit-btn {
     margin-top: 20px;
     background-color: #0077C5;
     box-sizing: border-box;
     color: white;
     font-size: 18px;
     padding: 12px 12px;
     border: 0;
     border-radius: 4px;
     width: 100%;

 }

 .input-text {
     height: 24px;
     width: 320px;
     min-width: 160px;
     padding-left: 8px;
     padding-right: 37px;
     padding-top: 12px;
     border: 1px solid #c1c5c8;
     border-radius: 4px;
 }

 .space {
    margin-top: 30px;
    
 }

 .space p {
     font-size: 10px;
     color: #505050;
 }

 .form-text {
     align-items: center;
     text-align: center;
 }

 .form-title {
     font-size: 25px;
     color: #505050;
     margin-bottom: 20px;
 }
.container-logo{
    display: flex;
    justify-content: center;
    height: 60px;
}

.container-logo > p{
    color: #505050;
    padding-bottom: 0;
    font-size: 35px;
}
.logos li{
    margin-right: 10px;
}

.form-bottom-text {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.form-bottom-text p {
    color: #757575;
    line-height: 20px;
}
/*End of Main Section CSS*/

/*Footer Section CSS*/
.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 2rem;
    height: 10px;
    padding: 0
}

.footer-links li {
    margin-left: 10px;
}

.footer-links li a {
    color: #505050;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    color: #505050;
    line-height: 20px;
}
.form-footer{
    background-color: whitesmoke;
    border: 1px solid #c1c5c8;
    border-top: 0;
    width: 427px;
    padding-top: 15px;
    margin: 0;
    height: 30px;
    text-align: center;
    
}
.form-footer p{
    font-size: 10px;
    color: #c1c5c8;
}
.form-footer p a{
    font-size: 10px;

}
.captcha{
    display: flex;
    justify-content: center;
}
/*End of Footer Section CSS*/
