@media(min-width: 800px){
body{
    background: whitesmoke;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
}
.container{
    margin: 0 0 0 0;

}

a {
    text-decoration: none;
    color: #0077C5;
    font-size: 13px;
    
}

p{
    margin: 0 0 0 0;
    font-size: 13px;
    line-height: 1;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header-2{
    display: flex;
    justify-content: flex-end;
}

.navbar-text {
    align-self: center;
    text-align: right;
    margin-top: 10px;
}

.navbar-btn {
    align-self: center;
}

.signin-btn {
    background-color: #0077C5;
    border-radius: 10%;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-left: 10px;
    color: white;
}